//Contact Page
extends layout

block layout-content
    main#main
        .contact-form-container
            h2 Get in Touch

            form(action="/submit-form", method="POST")
              div
                label(for="name") Name:
                input(type="text", id="name", name="name", required)
              div
                label(for="email") Email:
                input(type="email", id="email", name="email", required)
              div
                label(for="message") Message:
                textarea(id="message", name="message", rows="5", required)
              div
                button(type="submit") Send Message
