//Home page
extends layout

block layout-content
    div.content
        h1.page-title Welcome to Humber Inc... 
        //Image source : https://humber.ca/staff/sites/default/files/2%20MB/Humber%20Athletics%20Logo.png
        img.logo-img(src="https://humber.ca/staff/sites/default/files/2%20MB/Humber%20Athletics%20Logo.png", alt="Logo Image")
        p This is the homepage of Humber Inc...
        p You can navigate to other pages using the navigation
