extends layout

block layout-content
    main#main
        h1 About Us
        //Image source : https://www.avidahealthwear.com/cdn/shop/products/Humber_Logo_Black.png?v=1660243585
        img.about-img(src="https://www.avidahealthwear.com/cdn/shop/products/Humber_Logo_Black.png?v=1660243585", alt="About Image")
        p Humber Inc... mission is to develop responsive clean fast web applications catered to your needs
